@charset "utf-8";
/* CSS Document */
*{box-sizing:border-box}
.container{width: 80%; margin: 0 auto}
body {font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"; font-size: 16px; color:666666; margin: 0}
.img-100{width: 100%; height: auto}

main{width: 100%; min-height: 1000px}
.w-25{width: 25%; padding: 15px; float: left}

.form-control{padding: 8px; margin-bottom:10px; width:100% }
.nut{padding: 10px 20px; border-radius:20px; background-color:#5F79F4; color: white; border: none;cursor: pointer}
.btn{margin-left: 10px; padding: 10px 20px; border-radius: 20px; background-color:#D26400;color:white; border: none; cursor: pointer}
.nut:hover{background-color: #0E22BF}
.btn:hover{background-color: darkred}

.w-40{width:40%; padding: 15px; float: left}
.w-60{width:60%; padding:15px; float: left}
.text-xanh{color:darkred}
.vien-xam{width:100%; min-height:300px; border:1px solid #D26400; border-radius: 5px; padding: 10px; margin-bottom:15px}